
.vs/initial-community/DesignTimeBuild/.dtbcache
.vs/initial-community/v16/.suo
.vs/initial-community/v16/Server/sqlite3/db.lock
.vs/initial-community/v16/Server/sqlite3/storage.ide
lib/Landis.Library.UniversalCohorts-v1.dll
obj/Debug/netstandard2.0/initial-community.AssemblyInfo.cs
obj/Debug/netstandard2.0/initial-community.AssemblyInfoInputs.cache
obj/Debug/netstandard2.0/initial-community.assets.cache
obj/Debug/netstandard2.0/initial-community.csproj.CoreCompileInputs.cache
obj/Debug/netstandard2.0/initial-community.csprojAssemblyReference.cache
obj/initial-community.csproj.nuget.cache
obj/initial-community.csproj.nuget.dgspec.json
obj/initial-community.csproj.nuget.g.props
obj/initial-community.csproj.nuget.g.targets
obj/project.assets.json
.vs/initial-community/FileContentIndex/4dbd76cf-82ea-4245-9a66-f6e3a80d9ab6.vsidx
.vs/initial-community/FileContentIndex/7c957d35-7020-4bb1-bd53-f7742446800b.vsidx
bin/Debug/netstandard2.0/Landis.Library.InitialCommunity.Universal-v2.deps.json
bin/Debug/netstandard2.0/Landis.Library.InitialCommunity.Universal-v2.dll
bin/Debug/netstandard2.0/Landis.Library.InitialCommunity.Universal-v2.pdb
bin/Debug/netstandard2.0/Landis.Library.UniversalCohorts-v2.dll
obj/Debug/netstandard2.0/.NETStandard,Version=v2.0.AssemblyAttributes.cs
obj/Debug/netstandard2.0/initial-.FA377EC8.Up2Date
obj/Debug/netstandard2.0/initial-community.csproj.AssemblyReference.cache
obj/Debug/netstandard2.0/initial-community.csproj.FileListAbsolute.txt
obj/Debug/netstandard2.0/initial-community.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/netstandard2.0/initial-community.sourcelink.json
obj/Debug/netstandard2.0/Landis.Library.InitialCommunity.Universal-v2.dll
obj/Debug/netstandard2.0/Landis.Library.InitialCommunity.Universal-v2.pdb
.vs/initial-community/FileContentIndex/7c66b34a-472e-4915-bd21-e0a083caf4dd.vsidx
.vs/initial-community/FileContentIndex/d025e2e5-3bea-4fdd-aef9-0f6286ff31be.vsidx
obj/project.nuget.cache
.vs/initial-community/FileContentIndex/083c02a2-aad2-48e5-a2fc-16d15e4f4822.vsidx
.vs/initial-community/FileContentIndex/5a2cb73a-ba89-4cc1-93db-5d9fb6c21e51.vsidx
lib/Landis.Library.UniversalCohorts-v2.dll
